//typography
$sans-serif-family:           'Montserrat', sans-serif;
$font-size-base:              14px;
$font-weight-regular:         400;
$font-weight-semi:            600;
$font-weight-bold:            700;


//colors
$black-color:               #424541;
$white-color:               #ffffff;
$blue-color:                #052f86;
$dark-blue-color:           #022369;
$green-color:               #0e9196;
$dark-green-color:          #0b6a6d;
$gold-color:                #b9a761;
$dark-gold-color:           #99894f;

//media queries
$sm-and-less:               "only screen and (max-width: 991px)";
$xs-and-less:               "only screen and (max-width: 767px)";


